<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: rgb(227, 239, 251);
        }
    </style>
</head>
<body>
    <div class="py-4 container-fluid">
        <h2 class="float-left mb-0">Welcome back {{customer.first_name}} {{customer.last_name}}!</h2>
        <nav class="nav nav-masthead justify-content-center float-right">
            <a href="/new/job" class="btn btn-info ml-1">Post New Job Request</a>
            <a href="/logout" class="btn btn-info ml-1">Logout</a>
        </nav>
    </div>
    <main class="row">
        <!-- Job postings -->
        <div class="col-7 mx-auto my-5 border border-dark p-2 shadow card">
            <h2 class="text-info">Your Job Postings</h2>
            {% for job in jobs %}
            <div class="card mt-3 shadow">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{job.title}}</strong></h5>
                    <p class="card-text">
                        Job Date and Time: {{job.date.strftime('%m/%d/%Y')}} at {{job.time}} <br>
                        Pay: {{job.pay}} <br>
                        Description: {{job.description}} <br>
                        Posted on: {{job.created_at.strftime('%m/%d/%Y')}}
                    </p>
                    <a href="/destroy/job/{{job.id}}" class="mr-3 float-left"><span class="material-icons">delete</span> Delete </a>
                        <a href="/customer/dashboard/application/{{customer.id}}"  class="mr-3 float-right"><span class="material-icons">mail_outline</span> View Notification </a>
                </div>
            </div>
            {% endfor %} 
        </div>       

    <!-- Applications  -->
        <div class="col-4 mx-auto my-5 border border-dark p-2 shadow card">
                <h2 class="text-info">Applications</h2>
                {% for app in applications %}
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <p class="card-text">Housekeeper Name: {{app['housekeeper'].first_name}} {{app['housekeeper'].last_name}}</p>
                        <p class="card-text">Housekeeper Contact: {{app['housekeeper'].email}}</p>
                        <a href="/customer/view_resume" class="card-img-top">View {{app['housekeeper'].first_name}}'s resume</a><br><br>
                        <form action="/application/{{app.id}}/approve" method="post">
                            <button class="btn btn-success shadow float-left mb-1" type="submit">Approve</button>
                        </form>
                        <form action="/application/{{app.id}}/reject" method="post">
                            <button class="btn btn-danger shadow float-right" type="submit">Reject</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>