<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housekeeper Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: rgb(227, 239, 251);
        }
    </style>
</head>
<body>
    <div class="py-4 container-fluid">
        <h2 class="float-left mb-0">Welcome back {{housekeeper.first_name}}!</h2>
        <nav class="nav nav-masthead justify-content-center float-right">
            <a href="/housekeeper/account" class="btn btn-info ml-1">Personal Account</a>
            <a href="/logout" class="btn btn-info ml-1">Logout</a>
        </nav>
    </div>
    <main class="row">
        <div class="col-7 mx-auto my-5 border border-dark p-2 shadow card">
            <h2 class="text-info">Available Jobs:</h2>
            <table class="table table-bordered table-hover table-striped border-secondary shadow">
                <tr class=" p-3 table-secondary text-dark">
                    <th scope="col">Job Title</th>
                    <th scope="col">Posted Date: </th>
                    <th scope="col">Requester</th>
                </tr>
            {% for job in jobs %}
                <tr class=" p-3 text-dark">
                    <td scope="col"><a href="/job/{{job.id}}">{{job.title}}</a></td>
                    <td scope="col">{{job.created_at.strftime('%m/%d/%Y')}}</td>
                    <td scope="col">{{job.customer.first_name}} {{job.customer.last_name}}</td>
                </tr>
            {% endfor %}    
            </table>
        </div>
        
    </main>
</body>
</html>