<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Housekeeping Finder</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
        </header>
        <main class="px-3">
            <h1>Welcome to Housekeeping Finder</h1>
            <p class="lead">Select your user type:</p>
            <p>
            <a href="/housekeeper" class="btn btn-lg btn-secondary fw-bold border-white bg-white">House Keeper</a>
            <a href="/customer" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Customer</a>
            </p>
    </main>
    <footer class="mt-auto text-white-50">
        <p>Group project by Maple Li amd Tom Ribbers</p>
    </footer>
    </div>
</body>
</html>